<div>
    <div>
        <span>Search: </span>
        <input type="text" [(ngModel)]="search" (ngModelChange)="searchPokemons()">
    </div>

    <div class="nextPokemons">
        <span>Offset: </span>
        <input type="number" [(ngModel)]="offset">
        <span>Limit: </span>
        <input type="number" [(ngModel)]="limit">
        <span>
            <button *ngIf="pokemons.length" (click)="nextPokemons()">
                Next
            </button>
        </span>
    </div>

    <div>
        <div class="pokemons">
            <div class="pokemon" [ngStyle]="{'background-color': getPokemonColor(pokemon)}"
                *ngFor="let pokemon of pokemons">
                <img [src]="getImageUri(pokemon)" [alt]="pokemon.name">
                <p [ngStyle]="{'color': getTextColor(pokemon)}">{{pokemon.name | titlecase}}</p>
            </div>
        </div>

        <not-found *ngIf="!pokemons.length"></not-found>



    </div>
</div>