<div>
    <div>
        <span>Search: </span>
        <input type="text" [(ngModel)]="search" (ngModelChange)="searchPokemons()">
    </div>

    <div>
        <pokemon-generation 
            [games]="generations"
            (refreshPokemons)="displayByGeneration($event)">
        </pokemon-generation>
    </div>

    <div class="nextPokemons">
        <span>Offset: </span>
        <input type="number" [(ngModel)]="offsetUI">
        <span>Limit: </span>
        <input type="number" [(ngModel)]="limit">
        <span>
            <button *ngIf="pokemons.length" (click)="nextPokemons()">
                Next
            </button>
        </span>
    </div>

    <div>
        <cdk-virtual-scroll-viewport #scroller itemSize="20" class="virtual-content">
            <div class="pokemons">
                <pokemon-card *cdkVirtualFor="let pokemon of pokemons" [pokemon]="pokemon">
                </pokemon-card>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>

    <not-found *ngIf="!pokemons.length"></not-found>

</div>